In [4]:
from scripts import project_functions
url = 'https://raw.githubusercontent.com/data301-2020-winter1/course-project-solo_116/main/data/raw/PatientInfo.csv'
df = project_functions.load_and_process(url)
df

,patient_id,sex,approximate_age,infected_by,contact_number,confirmed_date,released_date,deceased_date,state
0,1000000001,male,50,NaN,75,2020-01-23,2020-02-05,NaN,released
1,1000000002,male,30,NaN,31,2020-01-30,2020-03-02,NaN,released
2,1000000003,male,50,2002000001,17,2020-01-30,2020-02-19,NaN,released
3,1000000004,male,20,NaN,9,2020-01-30,2020-02-15,NaN,released
4,1000000005,female,20,1000000002,2,2020-01-31,2020-02-24,NaN,released
...,...,...,...,...,...,...,...,...,...
3932,7000000011,male,30,7000000009,5,2020-04-03,2020-05-19,NaN,released
3933,7000000012,female,20,NaN,9,2020-04-03,2020-05-05,NaN,released
3934,7000000013,female,10,NaN,6,2020-04-14,2020-04-26,NaN,released
3935,7000000014,female,30,NaN,140,2020-05-09,2020-06-12,NaN,released
3936,7000000015,female,30,NaN,25,2020-05-30,2020-06-13,NaN,released